Repository MicrosoftDocs/OfficeDocs-MicrosoftSearch, pull requests merged in 2025-05, with the labels that each got.

#365 Update graph-connector-agent-releases.md
  MicrosoftSearch/graph-connector-agent-releases.md
Labels: Microsoft submitter, mssearch/svc

#342 Update servicenow-tickets-connector.md
  MicrosoftSearch/servicenow-tickets-connector.md
Labels: mssearch/svc

#346 Update salesforce-connector.md
  MicrosoftSearch/salesforce-connector.md
Labels: mssearch/svc

#348 Update semantic-index-for-copilot.md
  MicrosoftSearch/semantic-index-for-copilot.md
Labels: microsoft-365-copilot/svc

#347 Remove erroneous ServiceNow reference
  MicrosoftSearch/confluence-onpremises-connector.md
Labels: mssearch/svc

#366 Removing limits from index quota page
  MicrosoftSearch/licensing.md
Labels: Microsoft submitter, mssearch/svc

#367 Removing connection limit from documentation
  MicrosoftSearch/configure-connector.md
Labels: Microsoft submitter, mssearch/svc

#368 Removing connection limit from the documentation
  MicrosoftSearch/connectors-overview.md
Labels: Microsoft submitter, mssearch/svc
